<ion-header>
  <ion-toolbar>
    <ion-title>
      GPS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h3>GPS Models and Information</h3>
  <hr>
  <img src ="https://www.trackershop-uk.com/pub/media/catalog/product/cache/fea4eed93ae1279e4473d1020412145f/p/r/propod_6_tracker_1.webp"height=150>
  <hr>
  <h5>THE PRO POD 6: Small Personal GPS Tracker</h5>
  <hr>
  <h8>The ProPod 6 model has recently been upgraded and has quickly become the most reliable and versatile GPS tracking device for vulnerable individuals, as well as lone workers, school trips and countless other uses.Whether you need to protect an elderly relative who is prone to becoming disorientated and lost, or you need to coordinate staff infield, the live tracking, full history and geo alerts make the ProPod 6 GPS Tracker the market leader in personal GPS tracking devices.</h8>

 <hr>

  <hr>
  <img src ="https://www.trackershop-uk.com/pub/media/catalog/product/cache/fea4eed93ae1279e4473d1020412145f/d/e/dementia_tracker.webp"height=150>
  <hr>
  <h5>DEMENTIA GPS KEYRING TRACKER</h5>
  <hr>
  <h8>Durable and versatile in use, your keyring tracker can also be attached to bags, zip fastenings, clothing, as well as on lanyards, and any other fastening on clothing and accessories. 
    This means that your safety tracker has the best chance of always being with the vulnerable individual, ensuring their safety, independence and your peace of mind.</h8>

  <hr>

  <hr>
  <img src ="https://www.trackershop-uk.com/pub/media/catalog/product/cache/fea4eed93ae1279e4473d1020412145f/k/i/kids_trackers-2.webp"height=150>
  <hr>
  <h5>GPS CHILD TRACKER</h5>
  <hr>
  <h8>Durable and versatile in use, your child tracking device can also be attached to clothing, bags, zip fastenings, keyrings, as well as on lanyards, and any other fastening on clothing and accessories.
    This means that your safety tracker has the best chance of always being with your child, ensuring their safety in an emergency and peace of mind for when you're not with them.</h8>
 
  <ion-button color="danger" [routerLink]="['/home']" routerDirection=forward>Back to Home</ion-button>
  
 </ion-content>
